---
layout: default
---
<article>
    
 <div id="notes-entry-container">
 <main>
  <div> 
    <h1>{{ page.title }}</h1>
  </div>

    <content> 
      {{ content }}
    </content>
     </main>
     
    <side>
      <div class="graph-box">
          {% include notes_graph.html %}
        </div>
      
      <div class="backlink-box">
      <h3 style="margin-bottom: 1em">Notes mentioning this note</h3>
      {% if page.backlinks.size > 0 %}
      {% for backlink in page.backlinks %}
        <a class="internal-link" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
      {% endfor %}
      {% else %}

      <div style="font-size: 0.9em">
        <p>
          There are no notes linking to this note.
        </p>
      </div>
      {% endif %}
          
    </div></side>
     
     <time datetime="{{ page.last_modified_at | date_to_xmlschema }}"><sub>{% if page.type != 'pages' %} Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}</sub></time>
      
  </div>
</article>
<hr>